This is the original Dataset:

In [72]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 200)
df = pd.read_csv('FivePoints.csv', delimiter=';')
#next we count the number of unique studentid values
df['studentid'].nunique()

4551

We have to change it to make it look like a "normal" dataset

In [66]:

# Pivot the table
df_pivoted = df.pivot(index='primary', columns='name', values='value')


# Display the resulting DataFrame
df_pivoted.head(100)

name,numbercl,patternsm,statuscl,timestampcl,timestampload,timestampsm
primary,,,,,,
36,NaN,"0,0,1,0,0,0,1,0",NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,2520
38,NaN,NaN,"1,1",NaN,NaN,NaN
39,"3,7",NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,"1583742751461,1583742751869",NaN,NaN
41,NaN,NaN,NaN,NaN,1583742749790,NaN
47,NaN,"1,1,0,0,0,0,0,0",NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,2576
49,NaN,NaN,"1,1",NaN,NaN,NaN
50,"2,1",NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,"1583742753766,1583742754238",NaN,NaN
52,NaN,NaN,NaN,NaN,1583742752391,NaN
53,NaN,"0,0,1,1,0,0,0,0",NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,2541
55,NaN,NaN,"1,1",NaN,NaN,NaN
56,"3,4",NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,"1583742756412,1583742756876",NaN,NaN
58,NaN,NaN,NaN,NaN,1583742755058,NaN
59,NaN,"0,0,0,0,0,1,0,1",NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,2540
61,NaN,NaN,"1,1",NaN,NaN,NaN
62,"8,6",NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,"1583742759029,1583742759476",NaN,NaN
64,NaN,NaN,NaN,NaN,1583742757674,NaN
65,NaN,"0,0,1,1,0,0,0,0",NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,2384
67,NaN,NaN,"1,1",NaN,NaN,NaN
68,"4,3",NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,"1583742761381,1583742762222",NaN,NaN
70,NaN,NaN,NaN,NaN,1583742760309,NaN
91,NaN,"0,0,0,0,0,1,1,0",NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,15370
93,NaN,NaN,"1,1,1,1,1,1,1,1,0,0,0,0,0,0",NaN,NaN,NaN
94,"7,6,2,1,5,4,3,8,8,4,5,3,1,2",NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,"1583744981705,1583744983096,1583744984880,1583...",NaN,NaN
96,NaN,NaN,NaN,NaN,1583744980007,NaN
97,NaN,"0,1,1,0,0,0,0,0",NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,3191
99,NaN,NaN,"1,1",NaN,NaN,NaN
100,"3,2",NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,"1583744997128,1583744997736",NaN,NaN
102,NaN,NaN,NaN,NaN,1583744995497,NaN
103,NaN,"1,0,0,1,0,0,0,0",NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,2422
105,NaN,NaN,"1,1",NaN,NaN,NaN
106,"1,4",NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,"1583744999592,1583745000424",NaN,NaN
108,NaN,NaN,NaN,NaN,1583744998786,NaN
109,NaN,"0,0,1,1,0,0,0,0",NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,1806
111,NaN,NaN,"1,1",NaN,NaN,NaN
112,"4,3",NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,"1583745002328,1583745002752",NaN,NaN
114,NaN,NaN,NaN,NaN,1583745001314,NaN
115,NaN,"0,0,1,0,0,0,0,1",NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,1710
117,NaN,NaN,"1,1",NaN,NaN,NaN
118,"8,3",NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,"1583745004040,1583745004560",NaN,NaN
120,NaN,NaN,NaN,NaN,1583745003218,NaN
121,NaN,"0,1,0,0,0,0,1,0",NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,1933
123,NaN,NaN,"1,1",NaN,NaN,NaN
124,"7,2",NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,"1583745005520,1583745006096",NaN,NaN
126,NaN,NaN,NaN,NaN,1583745005035,NaN
127,NaN,"1,0,0,0,0,1,0,0",NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,2798
129,NaN,NaN,"1,1",NaN,NaN,NaN
130,"6,1",NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,"1583745008320,1583745008736",NaN,NaN
132,NaN,NaN,NaN,NaN,1583745007090,NaN
133,NaN,"0,0,0,1,1,0,0,0",NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,2110
135,NaN,NaN,"1,1",NaN,NaN,NaN
136,"5,4",NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,"1583745010624,1583745011248",NaN,NaN
138,NaN,NaN,NaN,NaN,1583745010002,NaN
139,NaN,"0,0,0,0,0,1,0,1",NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,4897
141,NaN,NaN,"1,0,1,0,1,1",NaN,NaN,NaN
142,"8,8,8,8,8,6",NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,"1583745013232,1583745013888,1583745014112,1583...",NaN,NaN
144,NaN,NaN,NaN,NaN,1583745012231,NaN
145,NaN,"0,0,0,0,1,0,1,0",NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,2103
147,NaN,NaN,"1,1",NaN,NaN,NaN
148,"5,7",NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,"1583745018376,1583745018880",NaN,NaN
150,NaN,NaN,NaN,NaN,1583745017257,NaN
151,NaN,"0,0,0,0,0,1,0,1",NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,2053
153,NaN,NaN,"1,1",NaN,NaN,NaN
154,"8,6",NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,NaN,"1583745020072,1583745020688",NaN,NaN
156,NaN,NaN,NaN,NaN,1583745019491,NaN
157,NaN,"0,0,0,0,0,0,1,1",NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,3416
159,NaN,NaN,"1,1",NaN,NaN,NaN
160,"8,7",NaN,NaN,NaN,NaN,NaN

Next, we merge them

In [67]:
df_merged = pd.merge(df, df_pivoted, on='primary')
df_merged = df_merged.head(1000)
df_merged.head(100)

,primary,studentid,name,value,timestamp,numbercl,patternsm,statuscl,timestampcl,timestampload,timestampsm
0,36,1,patternsm,"0,0,1,0,0,0,1,0",2020-03-09 09:32:32,NaN,"0,0,1,0,0,0,1,0",NaN,NaN,NaN,NaN
1,37,1,timestampsm,2520,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,2520
2,38,1,statuscl,"1,1",2020-03-09 09:32:32,NaN,NaN,"1,1",NaN,NaN,NaN
3,39,1,numbercl,"3,7",2020-03-09 09:32:32,"3,7",NaN,NaN,NaN,NaN,NaN
4,40,1,timestampcl,"1583742751461,1583742751869",2020-03-09 09:32:32,NaN,NaN,NaN,"1583742751461,1583742751869",NaN,NaN
5,41,1,timestampload,1583742749790,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,1583742749790,NaN
6,47,1,patternsm,"1,1,0,0,0,0,0,0",2020-03-09 09:32:35,NaN,"1,1,0,0,0,0,0,0",NaN,NaN,NaN,NaN
7,48,1,timestampsm,2576,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,2576
8,49,1,statuscl,"1,1",2020-03-09 09:32:35,NaN,NaN,"1,1",NaN,NaN,NaN
9,50,1,numbercl,"2,1",2020-03-09 09:32:35,"2,1",NaN,NaN,NaN,NaN,NaN
10,51,1,timestampcl,"1583742753766,1583742754238",2020-03-09 09:32:35,NaN,NaN,NaN,"1583742753766,1583742754238",NaN,NaN
11,52,1,timestampload,1583742752391,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,1583742752391,NaN
12,53,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:37,NaN,"0,0,1,1,0,0,0,0",NaN,NaN,NaN,NaN
13,54,1,timestampsm,2541,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,2541
14,55,1,statuscl,"1,1",2020-03-09 09:32:37,NaN,NaN,"1,1",NaN,NaN,NaN
15,56,1,numbercl,"3,4",2020-03-09 09:32:37,"3,4",NaN,NaN,NaN,NaN,NaN
16,57,1,timestampcl,"1583742756412,1583742756876",2020-03-09 09:32:37,NaN,NaN,NaN,"1583742756412,1583742756876",NaN,NaN
17,58,1,timestampload,1583742755058,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,1583742755058,NaN
18,59,1,patternsm,"0,0,0,0,0,1,0,1",2020-03-09 09:32:40,NaN,"0,0,0,0,0,1,0,1",NaN,NaN,NaN,NaN
19,60,1,timestampsm,2540,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,2540
20,61,1,statuscl,"1,1",2020-03-09 09:32:40,NaN,NaN,"1,1",NaN,NaN,NaN
21,62,1,numbercl,"8,6",2020-03-09 09:32:40,"8,6",NaN,NaN,NaN,NaN,NaN
22,63,1,timestampcl,"1583742759029,1583742759476",2020-03-09 09:32:40,NaN,NaN,NaN,"1583742759029,1583742759476",NaN,NaN
23,64,1,timestampload,1583742757674,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,1583742757674,NaN
24,65,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:42,NaN,"0,0,1,1,0,0,0,0",NaN,NaN,NaN,NaN
25,66,1,timestampsm,2384,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,2384
26,67,1,statuscl,"1,1",2020-03-09 09:32:42,NaN,NaN,"1,1",NaN,NaN,NaN
27,68,1,numbercl,"4,3",2020-03-09 09:32:42,"4,3",NaN,NaN,NaN,NaN,NaN
28,69,1,timestampcl,"1583742761381,1583742762222",2020-03-09 09:32:42,NaN,NaN,NaN,"1583742761381,1583742762222",NaN,NaN
29,70,1,timestampload,1583742760309,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,1583742760309,NaN
30,7585,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:08,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
31,7586,1,timestampsm,6306,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,6306
32,7587,1,statuscl,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
33,7588,1,numbercl,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
34,7589,1,timestampcl,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
35,7590,1,timestampload,1583748062089,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,1583748062089,NaN
36,7591,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:10,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
37,7592,1,timestampsm,1944,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,1944
38,7593,1,statuscl,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
39,7594,1,numbercl,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
40,7595,1,timestampcl,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
41,7596,1,timestampload,1583748068492,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,1583748068492,NaN
42,7597,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:11,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
43,7598,1,timestampsm,988,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,988
44,7599,1,statuscl,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
45,7600,1,numbercl,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
46,7601,1,timestampcl,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
47,7602,1,timestampload,1583748070542,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,1583748070542,NaN
48,7603,1,patternsm,"0,0,1,0,0,0,0,0",2020-03-09 11:01:13,NaN,"0,0,1,0,0,0,0,0",NaN,NaN,NaN,NaN
49,7604,1,timestampsm,2031,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,2031
50,7605,1,statuscl,1,2020-03-09 11:01:13,NaN,NaN,1,NaN,NaN,NaN
51,7606,1,numbercl,3,2020-03-09 11:01:13,3,NaN,NaN,NaN,NaN,NaN
52,7607,1,timestampcl,1583748073331,2020-03-09 11:01:13,NaN,NaN,NaN,1583748073331,NaN,NaN
53,7608,1,timestampload,1583748071629,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,1583748071629,NaN
54,7609,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:08:17,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
55,7610,1,timestampsm,423763,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,423763
56,7611,1,statuscl,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
57,7612,1,numbercl,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
58,7613,1,timestampcl,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
59,7614,1,timestampload,1583748073764,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,1583748073764,NaN
60,133681,1,patternsm,"0,0,0,0,0,0,0,0",2020-06-03 14:35:03,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
61,133682,1,timestampsm,4013,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,4013
62,133683,1,statuscl,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
63,133684,1,numbercl,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
64,133685,1,timestampcl,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
65,133686,1,timestampload,1591187699373,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,1591187699373,NaN
66,133687,1,patternsm,"0,0,0,0,0,0,0,0",2020-06-03 14:43:50,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,NaN,NaN
67,133688,1,timestampsm,7763,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,7763
68,133689,1,statuscl,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
69,133690,1,numbercl,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
70,133691,1,timestampcl,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
71,133692,1,timestampload,1591188222928,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,1591188222928,NaN
72,834379,2,patternsm,"1,1,1,1,1,1,1,1",2020-10-01 09:52:14,NaN,"1,1,1,1,1,1,1,1",NaN,NaN,NaN,NaN
73,834380,2,timestampsm,12106,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,12106
74,834381,2,statuscl,"1,1,1,1,1,1,1,0,1,1",2020-10-01 09:52:14,NaN,NaN,"1,1,1,1,1,1,1,0,1,1",NaN,NaN,NaN
75,834382,2,numbercl,"1,6,8,4,5,7,2,7,7,3",2020-10-01 09:52:14,"1,6,8,4,5,7,2,7,7,3",NaN,NaN,NaN,NaN,NaN
76,834383,2,timestampcl,"1601538723165,1601538724144,1601538725021,1601...",2020-10-01 09:52:14,NaN,NaN,NaN,"1601538723165,1601538724144,1601538725021,1601...",NaN,NaN
77,834384,2,timestampload,1601538721805,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,1601538721805,NaN
78,834433,2,patternsm,"1,1,0,1,1,1,1,1",2020-10-01 09:52:31,NaN,"1,1,0,1,1,1,1,1",NaN,NaN,NaN,NaN
79,834434,2,timestampsm,17061,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,17061
80,834435,2,statuscl,"1,1,1,1,1,1,0,1,1",2020-10-01 09:52:31,NaN,NaN,"1,1,1,1,1,1,0,1,1",NaN,NaN,NaN
81,834436,2,numbercl,"6,8,4,1,2,7,8,5,8",2020-10-01 09:52:31,"6,8,4,1,2,7,8,5,8",NaN,NaN,NaN,NaN,NaN
82,834437,2,timestampcl,"1601538737663,1601538738454,1601538739815,1601...",2020-10-01 09:52:31,NaN,NaN,NaN,"1601538737663,1601538738454,1601538739815,1601...",NaN,NaN
83,834438,2,timestampload,1601538734066,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,1601538734066,NaN
84,834457,2,patternsm,"0,1,0,1,1,1,0,0",2020-10-01 09:52:40,NaN,"0,1,0,1,1,1,0,0",NaN,NaN,NaN,NaN
85,834458,2,timestampsm,8516,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,8516
86,834459,2,statuscl,"1,1,1,1",2020-10-01 09:52:40,NaN,NaN,"1,1,1,1",NaN,NaN,NaN
87,834460,2,numbercl,"4,5,6,2",2020-10-01 09:52:40,"4,5,6,2",NaN,NaN,NaN,NaN,NaN
88,834461,2,timestampcl,"1601538755645,1601538756591,1601538757392,1601...",2020-10-01 09:52:40,NaN,NaN,NaN,"1601538755645,1601538756591,1601538757392,1601...",NaN,NaN
89,834462,2,timestampload,1601538751289,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,1601538751289,NaN
90,834493,2,patternsm,"0,0,1,0,1,1,1,1",2020-10-01 09:52:52,NaN,"0,0,1,0,1,1,1,1",NaN,NaN,NaN,NaN
91,834494,2,timestampsm,12023,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,12023
92,834495,2,statuscl,"1,1,1,1,0,0,1,1,1",2020-10-01 09:52:52,NaN,NaN,"1,1,1,1,0,0,1,1,1",NaN,NaN,NaN
93,834496,2,numbercl,"3,8,7,5,5,8,5,6,8",2020-10-01 09:52:52,"3,8,7,5,5,8,5,6,8",NaN,NaN,NaN,NaN,NaN
94,834497,2,timestampcl,"1601538764144,1601538765306,1601538766035,1601...",2020-10-01 09:52:52,NaN,NaN,NaN,"1601538764144,1601538765306,1601538766035,1601...",NaN,NaN
95,834498,2,timestampload,1601538759972,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,1601538759972,NaN
96,834499,2,patternsm,"1,1,1,1,0,0,0,0",2020-10-01 09:52:58,NaN,"1,1,1,1,0,0,0,0",NaN,NaN,NaN,NaN
97,834500,2,timestampsm,5470,2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,5470
98,834501,2,statuscl,"1,1,1,1",2020-10-01 09:52:58,NaN,NaN,"1,1,1,1",NaN,NaN,NaN
99,834502,2,numbercl,"4,3,2,1",2020-10-01 09:52:58,"4,3,2,1",NaN,NaN,NaN,NaN,NaN

In [68]:
df_new = df_merged

# Iterate through every 6 rows to process the data
for i in range(0, len(df_new) - 6, 6):
    subset = df_new.iloc[i:i+6]

    # Iterate through each column and move non-null values to the top
    for column in subset.columns:
        non_null_values = subset[column].dropna().tolist()
        subset[column] = non_null_values + [np.nan] * (6 - len(non_null_values))

    # Update the original DataFrame with the processed subset
    df_new.iloc[i:i+6] = subset

# Remove rows where all values are null
df_new.dropna(how='all', inplace=True)

# Reset the index
df_new.reset_index(drop=True, inplace=True)


df_new.head(100)

C:\Users\Ruben\AppData\Local\Temp\ipykernel_14360\2677513719.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset[column] = non_null_values + [np.nan] * (6 - len(non_null_values))

,primary,studentid,name,value,timestamp,numbercl,patternsm,statuscl,timestampcl,timestampload,timestampsm
0,36,1,patternsm,"0,0,1,0,0,0,1,0",2020-03-09 09:32:32,"3,7","0,0,1,0,0,0,1,0","1,1","1583742751461,1583742751869",1583742749790,2520
1,37,1,timestampsm,2520,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
2,38,1,statuscl,"1,1",2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
3,39,1,numbercl,"3,7",2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
4,40,1,timestampcl,"1583742751461,1583742751869",2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
5,41,1,timestampload,1583742749790,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
6,47,1,patternsm,"1,1,0,0,0,0,0,0",2020-03-09 09:32:35,"2,1","1,1,0,0,0,0,0,0","1,1","1583742753766,1583742754238",1583742752391,2576
7,48,1,timestampsm,2576,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
8,49,1,statuscl,"1,1",2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
9,50,1,numbercl,"2,1",2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
10,51,1,timestampcl,"1583742753766,1583742754238",2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
11,52,1,timestampload,1583742752391,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
12,53,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:37,"3,4","0,0,1,1,0,0,0,0","1,1","1583742756412,1583742756876",1583742755058,2541
13,54,1,timestampsm,2541,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
14,55,1,statuscl,"1,1",2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
15,56,1,numbercl,"3,4",2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
16,57,1,timestampcl,"1583742756412,1583742756876",2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
17,58,1,timestampload,1583742755058,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
18,59,1,patternsm,"0,0,0,0,0,1,0,1",2020-03-09 09:32:40,"8,6","0,0,0,0,0,1,0,1","1,1","1583742759029,1583742759476",1583742757674,2540
19,60,1,timestampsm,2540,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
20,61,1,statuscl,"1,1",2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
21,62,1,numbercl,"8,6",2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
22,63,1,timestampcl,"1583742759029,1583742759476",2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
23,64,1,timestampload,1583742757674,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
24,65,1,patternsm,"0,0,1,1,0,0,0,0",2020-03-09 09:32:42,"4,3","0,0,1,1,0,0,0,0","1,1","1583742761381,1583742762222",1583742760309,2384
25,66,1,timestampsm,2384,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
26,67,1,statuscl,"1,1",2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
27,68,1,numbercl,"4,3",2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
28,69,1,timestampcl,"1583742761381,1583742762222",2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
29,70,1,timestampload,1583742760309,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
30,7585,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:08,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748062089,6306
31,7586,1,timestampsm,6306,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
32,7587,1,statuscl,1583748062089,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
33,7588,1,numbercl,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
34,7589,1,timestampcl,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
35,7590,1,timestampload,NaN,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
36,7591,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:10,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748068492,1944
37,7592,1,timestampsm,1944,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
38,7593,1,statuscl,1583748068492,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
39,7594,1,numbercl,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
40,7595,1,timestampcl,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
41,7596,1,timestampload,NaN,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
42,7597,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:01:11,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748070542,988
43,7598,1,timestampsm,988,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
44,7599,1,statuscl,1583748070542,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
45,7600,1,numbercl,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
46,7601,1,timestampcl,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
47,7602,1,timestampload,NaN,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
48,7603,1,patternsm,"0,0,1,0,0,0,0,0",2020-03-09 11:01:13,3,"0,0,1,0,0,0,0,0",1,1583748073331,1583748071629,2031
49,7604,1,timestampsm,2031,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
50,7605,1,statuscl,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
51,7606,1,numbercl,3,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
52,7607,1,timestampcl,1583748073331,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
53,7608,1,timestampload,1583748071629,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
54,7609,1,patternsm,"0,0,0,0,0,0,0,0",2020-03-09 11:08:17,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748073764,423763
55,7610,1,timestampsm,423763,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
56,7611,1,statuscl,1583748073764,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
57,7612,1,numbercl,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
58,7613,1,timestampcl,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
59,7614,1,timestampload,NaN,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
60,133681,1,patternsm,"0,0,0,0,0,0,0,0",2020-06-03 14:35:03,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1591187699373,4013
61,133682,1,timestampsm,4013,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
62,133683,1,statuscl,1591187699373,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
63,133684,1,numbercl,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
64,133685,1,timestampcl,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
65,133686,1,timestampload,NaN,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
66,133687,1,patternsm,"0,0,0,0,0,0,0,0",2020-06-03 14:43:50,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1591188222928,7763
67,133688,1,timestampsm,7763,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
68,133689,1,statuscl,1591188222928,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
69,133690,1,numbercl,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
70,133691,1,timestampcl,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
71,133692,1,timestampload,NaN,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
72,834379,2,patternsm,"1,1,1,1,1,1,1,1",2020-10-01 09:52:14,"1,6,8,4,5,7,2,7,7,3","1,1,1,1,1,1,1,1","1,1,1,1,1,1,1,0,1,1","1601538723165,1601538724144,1601538725021,1601...",1601538721805,12106
73,834380,2,timestampsm,12106,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
74,834381,2,statuscl,"1,1,1,1,1,1,1,0,1,1",2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
75,834382,2,numbercl,"1,6,8,4,5,7,2,7,7,3",2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
76,834383,2,timestampcl,"1601538723165,1601538724144,1601538725021,1601...",2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
77,834384,2,timestampload,1601538721805,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
78,834433,2,patternsm,"1,1,0,1,1,1,1,1",2020-10-01 09:52:31,"6,8,4,1,2,7,8,5,8","1,1,0,1,1,1,1,1","1,1,1,1,1,1,0,1,1","1601538737663,1601538738454,1601538739815,1601...",1601538734066,17061
79,834434,2,timestampsm,17061,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
80,834435,2,statuscl,"1,1,1,1,1,1,0,1,1",2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
81,834436,2,numbercl,"6,8,4,1,2,7,8,5,8",2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
82,834437,2,timestampcl,"1601538737663,1601538738454,1601538739815,1601...",2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
83,834438,2,timestampload,1601538734066,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
84,834457,2,patternsm,"0,1,0,1,1,1,0,0",2020-10-01 09:52:40,"4,5,6,2","0,1,0,1,1,1,0,0","1,1,1,1","1601538755645,1601538756591,1601538757392,1601...",1601538751289,8516
85,834458,2,timestampsm,8516,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
86,834459,2,statuscl,"1,1,1,1",2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
87,834460,2,numbercl,"4,5,6,2",2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
88,834461,2,timestampcl,"1601538755645,1601538756591,1601538757392,1601...",2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
89,834462,2,timestampload,1601538751289,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
90,834493,2,patternsm,"0,0,1,0,1,1,1,1",2020-10-01 09:52:52,"3,8,7,5,5,8,5,6,8","0,0,1,0,1,1,1,1","1,1,1,1,0,0,1,1,1","1601538764144,1601538765306,1601538766035,1601...",1601538759972,12023
91,834494,2,timestampsm,12023,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
92,834495,2,statuscl,"1,1,1,1,0,0,1,1,1",2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
93,834496,2,numbercl,"3,8,7,5,5,8,5,6,8",2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
94,834497,2,timestampcl,"1601538764144,1601538765306,1601538766035,1601...",2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
95,834498,2,timestampload,1601538759972,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
96,834499,2,patternsm,"1,1,1,1,0,0,0,0",2020-10-01 09:52:58,"4,3,2,1","1,1,1,1,0,0,0,0","1,1,1,1","1601538773414,1601538774162,1601538775421,1601...",1601538772148,5470
97,834500,2,timestampsm,5470,2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN
98,834501,2,statuscl,"1,1,1,1",2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN
99,834502,2,numbercl,"4,3,2,1",2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
#drop the columns that are not needed
df_new = df_new.drop(['name', 'value'], axis=1)
df_new.head(100)

#rename the columns

,primary,studentid,timestamp,numbercl,patternsm,statuscl,timestampcl,timestampload,timestampsm
0,36,1,2020-03-09 09:32:32,"3,7","0,0,1,0,0,0,1,0","1,1","1583742751461,1583742751869",1583742749790,2520
1,37,1,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
2,38,1,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
3,39,1,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
4,40,1,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
5,41,1,2020-03-09 09:32:32,NaN,NaN,NaN,NaN,NaN,NaN
6,47,1,2020-03-09 09:32:35,"2,1","1,1,0,0,0,0,0,0","1,1","1583742753766,1583742754238",1583742752391,2576
7,48,1,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
8,49,1,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
9,50,1,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
10,51,1,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
11,52,1,2020-03-09 09:32:35,NaN,NaN,NaN,NaN,NaN,NaN
12,53,1,2020-03-09 09:32:37,"3,4","0,0,1,1,0,0,0,0","1,1","1583742756412,1583742756876",1583742755058,2541
13,54,1,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
14,55,1,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
15,56,1,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
16,57,1,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
17,58,1,2020-03-09 09:32:37,NaN,NaN,NaN,NaN,NaN,NaN
18,59,1,2020-03-09 09:32:40,"8,6","0,0,0,0,0,1,0,1","1,1","1583742759029,1583742759476",1583742757674,2540
19,60,1,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
20,61,1,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
21,62,1,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
22,63,1,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
23,64,1,2020-03-09 09:32:40,NaN,NaN,NaN,NaN,NaN,NaN
24,65,1,2020-03-09 09:32:42,"4,3","0,0,1,1,0,0,0,0","1,1","1583742761381,1583742762222",1583742760309,2384
25,66,1,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
26,67,1,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
27,68,1,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
28,69,1,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
29,70,1,2020-03-09 09:32:42,NaN,NaN,NaN,NaN,NaN,NaN
30,7585,1,2020-03-09 11:01:08,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748062089,6306
31,7586,1,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
32,7587,1,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
33,7588,1,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
34,7589,1,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
35,7590,1,2020-03-09 11:01:08,NaN,NaN,NaN,NaN,NaN,NaN
36,7591,1,2020-03-09 11:01:10,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748068492,1944
37,7592,1,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
38,7593,1,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
39,7594,1,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
40,7595,1,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
41,7596,1,2020-03-09 11:01:10,NaN,NaN,NaN,NaN,NaN,NaN
42,7597,1,2020-03-09 11:01:11,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748070542,988
43,7598,1,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
44,7599,1,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
45,7600,1,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
46,7601,1,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
47,7602,1,2020-03-09 11:01:11,NaN,NaN,NaN,NaN,NaN,NaN
48,7603,1,2020-03-09 11:01:13,3,"0,0,1,0,0,0,0,0",1,1583748073331,1583748071629,2031
49,7604,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
50,7605,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
51,7606,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
52,7607,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
53,7608,1,2020-03-09 11:01:13,NaN,NaN,NaN,NaN,NaN,NaN
54,7609,1,2020-03-09 11:08:17,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1583748073764,423763
55,7610,1,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
56,7611,1,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
57,7612,1,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
58,7613,1,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
59,7614,1,2020-03-09 11:08:17,NaN,NaN,NaN,NaN,NaN,NaN
60,133681,1,2020-06-03 14:35:03,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1591187699373,4013
61,133682,1,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
62,133683,1,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
63,133684,1,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
64,133685,1,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
65,133686,1,2020-06-03 14:35:03,NaN,NaN,NaN,NaN,NaN,NaN
66,133687,1,2020-06-03 14:43:50,NaN,"0,0,0,0,0,0,0,0",NaN,NaN,1591188222928,7763
67,133688,1,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
68,133689,1,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
69,133690,1,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
70,133691,1,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
71,133692,1,2020-06-03 14:43:50,NaN,NaN,NaN,NaN,NaN,NaN
72,834379,2,2020-10-01 09:52:14,"1,6,8,4,5,7,2,7,7,3","1,1,1,1,1,1,1,1","1,1,1,1,1,1,1,0,1,1","1601538723165,1601538724144,1601538725021,1601...",1601538721805,12106
73,834380,2,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
74,834381,2,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
75,834382,2,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
76,834383,2,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
77,834384,2,2020-10-01 09:52:14,NaN,NaN,NaN,NaN,NaN,NaN
78,834433,2,2020-10-01 09:52:31,"6,8,4,1,2,7,8,5,8","1,1,0,1,1,1,1,1","1,1,1,1,1,1,0,1,1","1601538737663,1601538738454,1601538739815,1601...",1601538734066,17061
79,834434,2,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
80,834435,2,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
81,834436,2,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
82,834437,2,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
83,834438,2,2020-10-01 09:52:31,NaN,NaN,NaN,NaN,NaN,NaN
84,834457,2,2020-10-01 09:52:40,"4,5,6,2","0,1,0,1,1,1,0,0","1,1,1,1","1601538755645,1601538756591,1601538757392,1601...",1601538751289,8516
85,834458,2,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
86,834459,2,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
87,834460,2,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
88,834461,2,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
89,834462,2,2020-10-01 09:52:40,NaN,NaN,NaN,NaN,NaN,NaN
90,834493,2,2020-10-01 09:52:52,"3,8,7,5,5,8,5,6,8","0,0,1,0,1,1,1,1","1,1,1,1,0,0,1,1,1","1601538764144,1601538765306,1601538766035,1601...",1601538759972,12023
91,834494,2,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
92,834495,2,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
93,834496,2,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
94,834497,2,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
95,834498,2,2020-10-01 09:52:52,NaN,NaN,NaN,NaN,NaN,NaN
96,834499,2,2020-10-01 09:52:58,"4,3,2,1","1,1,1,1,0,0,0,0","1,1,1,1","1601538773414,1601538774162,1601538775421,1601...",1601538772148,5470
97,834500,2,2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN
98,834501,2,2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN
99,834502,2,2020-10-01 09:52:58,NaN,NaN,NaN,NaN,NaN,NaN