In [3]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as missing
import warnings
import matplotlib.pyplot as plt

from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report


warnings.filterwarnings('ignore')

print("scikit-learn version:", sklearn.__version__)     # 1.1.3
print("pandas version:", pd.__version__)            # 1.5.1
print("seaborn version:", sns.__version__)   

df1 = pd.read_csv("./transform_dataset.csv", index_col=0)
print(df1.shape)

scikit-learn version: 1.3.1
pandas version: 2.1.1
seaborn version: 0.13.0
(179638, 8)

In [9]:
# Convert timestampsm to seconds for consistency
df1 = df1['timestampsm'] / 1000  # converting milliseconds to seconds

# Group by 'idll_vo3lv' and 'patternsm', calculate the average time spent on each pattern
df1.groupby(['idll_vo3lv'])['time_spent'].mean().reset_index()

      idll_vo3lv  time_spent
0              1    2.647778
1              2    5.938852
2              3    3.797617
3              4    2.786078
4              5    2.895113
...          ...         ...
4543       10052    5.076971
4544       10054    2.965250
4545       10055    9.176737
4546       10056    7.102556
4547       10058    2.897500

[4548 rows x 2 columns]