In [31]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as missing
import warnings
import matplotlib.pyplot as plt

from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report


warnings.filterwarnings('ignore')

print("scikit-learn version:", sklearn.__version__)     # 1.1.3
print("pandas version:", pd.__version__)            # 1.5.1
print("seaborn version:", sns.__version__)   

df1 = pd.read_csv("./transform_dataset.csv", index_col=0)
print(df1.shape)

scikit-learn version: 1.3.1
pandas version: 2.1.1
seaborn version: 0.13.0
(179638, 8)

In [32]:
df1 = df1.reset_index()[['idll_vo3lv', 'timestamp', 'numbercl', 'patternsm', 'statuscl', 'timestampcl', 'timestampload', 'timestampsm']]

In [33]:
selected_columns = df1[['idll_vo3lv', 'timestampcl']]
selected_columns

        idll_vo3lv                  timestampcl
0                1  1583742751461,1583742751869
1                1  1583742753766,1583742754238
2                1  1583742756412,1583742756876
3                1  1583742759029,1583742759476
4                1  1583742761381,1583742762222
...            ...                          ...
179633       10058  1607080545280,1607080545718
179634       10058  1607080547519,1607080548139
179635       10058  1607080549806,1607080550351
179636       10058  1607080552454,1607080553061
179637       10058                          NaN

[179638 rows x 2 columns]

In [34]:
# Splitting the 'timestampcl' column and exploding the values into rows
selected_columns['timestampcl'] = selected_columns['timestampcl'].str.split(',')
selected_columns = selected_columns.explode('timestampcl')

# Resetting index if needed
selected_columns.reset_index(drop=True, inplace=True)

selected_columns

        idll_vo3lv    timestampcl
0                1  1583742751461
1                1  1583742751869
2                1  1583742753766
3                1  1583742754238
4                1  1583742756412
...            ...            ...
568315       10058  1607080549806
568316       10058  1607080550351
568317       10058  1607080552454
568318       10058  1607080553061
568319       10058            NaN

[568320 rows x 2 columns]